sub_filter '<link rel="stylesheet" href="./font-awesome.css">' '';
#location /cgi-bin/ {
#  gzip off;
#  root /home/rbe;
#  fastcgi_pass unix:/var/run/fcgiwrap.socket;
#  include /etc/nginx/fastcgi_params;
#}
location /Gallimaufry/ {
    access_log /proc/self/fd/1 main;
    error_log /proc/self/fd/2 notice;
    root /srv/http/sites/bensmann.com/www; # + URL from location directive
    fastcgi_pass ruby-fcgiwrap:9000;
    include /etc/nginx/fastcgi_params;
    fastcgi_param DOCUMENT_ROOT /home/rbe/cgi-bin/src;
    fastcgi_param SCRIPT_NAME /secure_access/secure_access.rb;
    #fastcgi_param REQUEST_SCHEME https;
    #fastcgi_param HTTP_HOST bensmann.com;
}
