location ~* .(eot|otf|woff|woff2|ttf|ico)$ {
    expires modified +1y;
    access_log off;
}
location ~* .(svg|png|jpg|jpeg|gif|png)$ {
    expires modified +1w;
    access_log off;
}
location ~* .(css|js)$ {
    expires modified +1w;
    access_log off;
}
add_header Content-Security-Policy "default-src 'self'; child-src 'self' blob:";
sub_filter '<link rel="stylesheet" href="./asciidoctor.css">' '';
sub_filter '<link rel="stylesheet" href="./font-awesome.css">' '';
try_files $uri $uri/
 /article/2010$uri
 /article/2011$uri
 /article/2012$uri
 /article/2013$uri
 /article/2014$uri
 /article/2015$uri
 /book$uri
 =404;
